.box {
	margin: 2rem auto;
	overflow: hidden;
	max-width: 50rem;
	background-color:white;
	display:block;
	padding: 2rem;

	@include box-shadow(3px 3px 5px 3px #888888);
	@include border-radius(5px);

	&.profile {
		@media only screen and (max-device-width: 500px){
			text-align: center;
		}
	}

	.header {
		margin-top: -2rem;
		margin-left: -2rem;
		margin-right: -2rem;
		padding: 0.8rem;
		background-color: #32cdfb;
		color: white;
		
		.fa {
			padding-right: 0.5rem;
		}
	}
}

.container {
	float:left;

	@media only screen and (max-device-width: 500px){
		width: 100%;
		margin: 0 auto;
	}
}

.info {
	padding-top: 2rem;

	@media screen and (min-width: 500px) {
		padding-left: 1rem;
	}

	h1 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 2.0rem;
		margin: 0;
	}

	h2 {
		font-family: 'Open Sans', sans-serif;
		margin: 0;
		color: #AAAAAA;
		font-weight: 400;
		font-size: 1.3rem;
	}
}

.social {
	@media screen and (min-width: 500px) {
		padding-left: 2rem;
		max-width: 13rem;
	}

	@media only screen and (max-device-width: 500px){
		width: 100%;
	}

	padding-top: 1.0rem;
	float: right;
}

