<!DOCTYPE HTML>
<html>
<head>
	<title>Gonzalo Alvarez - {{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta charset="UTF-8"/>
    <meta name="HandheldFriendly" content="True" />
	<meta name="keywords" content="Gonzalo,Alvarez,Software,Development,Engineer,Amazon,ESA,Java,Scrum,Javascript,Angular" />
	<meta name="author" content="Gonzalo Alvarez" />
	<meta name="description" content="Gonzalo Alvarez: Software Development Engineer and Cloud Architect working at Amazon.com and previously at the European Space Agency. Scrum Master with extensive experience in Java."/>
    <link href='{{{rootpath}}}css/styles.css' rel='stylesheet' type='text/css' />

{{>favicon}}

</head>
<body>
	<header>
		<h1><a href='{{{rootpath}}}'>Gonzalo Alvarez</a></h1>
	</header>
