<div class="grid_60">
	<p class="title">Send me a message and I will reply you asap!</p>
	<input type="text" name="name" class="field" placeholder="Your Name"/>
	<input type="text" name="email" class="field" placeholder="Your Email"/>
	<textarea type="textarea" name="message" cols="40" rows="10" class="textarea" placeholder="Message"></textarea>
	<input type="submit" value="Send" class="button"/>
</div>
<div class="grid_40">
	<p class="title bottom">In case you need further info</p>
	<div class="infobox info">
		Gonzalo Alvarez<br/>
		Sant. Valverde 6<br/>
		28049, Madrid<br/>
	</div>
	<div class="infobox card">
		info@gon.al<br/>
		www.gon.al<br/>
		+34 678 252 458<br/>
	</div>
</div>
