{{#each skills.list}}
	<div class="skillset grid_50">
		<div class="title-wrapper">
			<div class="title">{{title}}</div>
		</div>
		<ul>
			{{#each list}}
				<li class="{{type}}">
					{{#if progress}}
						<span class="progress p{{ progress }}"></span><span class="text">
					{{/if}}
					{{skill}}
					{{#if progress}}
						</span>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</div>
{{/each}}

