<!-- HTML GonAl project - Main HTML file                                                -->
<!--                                                                                    -->
<!-- Gonzalo Alvarez, 2014                                                              -->
<!-- Work licensed under                                                                -->
<!-- Creative Commons Attributions-NonCommercial-NoDerivaties 4.0 International License -->
<!-- See: http://creativecommons.org/licenses/by-nc-nd/4.0/                             -->
<!--                                                                                    -->

<!DOCTYPE HTML>
<html>
<head>
	<title>Gonzalo Alvarez - Software Engineer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='css/styles.css' rel='stylesheet' type='text/css'>

{{>favicon}}

</head>
<body>
	<div class="box profile">
		<div class="container">
			  <div class="avatar"><span></span></div>
		</div>

		<div class="info container">
			<h1>Gonzalo Alvarez</h1>
			<h2>Software Development Engineer</h2>
		</div>
		<div class="social">
			<ul class="social-icons">
				<li> <a href="#"><i class="fa fa-envelope"></i></a> </li>
				<li> <a href="#"><i class="fa fa-wordpress"></i></a></li>
				<li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li> <a href="#"><i class="fa fa-twitter"></i></a></li>
				<li> <a href="#"><i class="fa fa-facebook"></i></a></li>
				<li> <a href="#"><i class="fa fa-github"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="box">
		<div class="header">
			<span class="fa fa-briefcase"></span> 
			Professional Experience
		</div>
		<div class="container">
			<div class="jobentry">
				<a href="#" class="logo esa"></a>
				<h3 class="title">
					<span class="dates">2007-2010</span>,
					<span class="position">Ground Segment Software Engineer</span> -
					<a href="#" class="location">Darmstadt, Germany</a>
				</h3>
				<div class="description"> Lorem ipsum dolor sit amet, consectetur <span class="strong">adipiscing elit</span>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
				</div>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="header">
			<span class="fa fa-graduation-cap"></span> 
			Education
		</div>
		<div class="container">
		</div>
	</div>
	<div class="box">
		<div class="header">
			<span class="fa fa-wrench"></span> 
			Skills
		</div>
		<div class="container fullwidth">
			<div class="grid_50">
				<div class="skillset">
					<div class="title-wrapper">
						<div class="title">Backend</div>
					</div>
					<ul>
						<li class="bar"><span class="progress p90"></span><span class="text">Java/J2EE</span></li>
						<li class="bar"><span class="progress p80"></span><span class="text">Spring Framework</span></li>
						<li class="bar"><span class="progress p75"></span><span class="text">Python</span></li>
						<li class="brick">JPA</li>
						<li class="brick">Primefaces</li>
						<li class="brick">Richfaces</li>
						<li class="brick">Hibernate</li>
						<li class="brick">Richfaces</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="header">
			<span class="fa fa-flag"></span> 
			Languages
		</div>
		<div class="container">
		</div>
	</div>
</body>
</html>
